$spacer: 4px;

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-column {
  flex-direction: column;
}

.d-sticky {
  position: sticky;
}

.d-inline {
  display: inline;
}

.d-inline-flex {
  display: inline-flex;
}

.align-center {
  align-items: center;
}

// FLEX-GAP

@for $i from 1 through 12 {
  .gap-#{$i} {
    gap: $i * $spacer;
  }

  .gc-#{$i} {
    column-gap: $i * $spacer;
  }

  .gr-#{$i} {
    row-gap: $i * $spacer;
  }

}

// PADDING

@for $i from 1 through 12 {
  .pa-#{$i} {
    padding: $i * $spacer !important;
  }

  .px-#{$i} {
    padding-left: $i * $spacer !important;
    padding-right: $i * $spacer !important;
  }

  .py-#{$i} {
    padding-top: $i * $spacer !important;
    padding-bottom: $i * $spacer !important;
  }

  .pr-#{$i} {
    padding-right: $i * $spacer !important;
  }

  .pl-#{$i} {
    padding-left: $i * $spacer !important;
  }

  .pt-#{$i} {
    padding-top: $i * $spacer !important;
  }

  .pb-#{$i} {
    padding-bottom: $i * $spacer !important;
  }

  .ma-#{$i} {
    margin: $i * $spacer !important;
  }

  .mx-#{$i} {
    margin-left: $i * $spacer !important;
    margin-right: $i * $spacer !important;
  }

  .my-#{$i} {
    margin-top: $i * $spacer !important;
    margin-bottom: $i * $spacer !important;
  }

  .mr-#{$i} {
    margin-right: $i * $spacer !important;
  }

  .ml-#{$i} {
    margin-left: $i * $spacer !important;
  }

  .mt-#{$i} {
    margin-top: $i * $spacer !important;
  }

  .mb-#{$i} {
    margin-bottom: $i * $spacer !important;
  }
}

.ma-auto {
  margin: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.full-width {
  width: 100% !important;
}


.justify-center {
  justify-content: center;
}
