code {
  background: rgba(255, 255, 255, 0.1);
  font-family: monospace, "JetBrains Mono", "Source Code Pro", "Fira Code", "Fira Mono", "Roboto Mono", "Consolas", "Courier New", Courier, monospace;
  font-size: .85em;

  padding: .2em .15em;
  margin: -.2em -.15em;
  border-radius: 4px;

  @at-root pre & {
    display: block;
    padding: .5em .5em;
    margin: initial;
  }

}

h1 {

}
