:root {
  --primary-color: rgb(0, 232, 255);
  --secondary-color: rgb(77, 99, 255);
  --background-color: #242424;
  --border-color: #404040;
  --nav-bar-height: 56px;
  --side-bar-width: 300px;

  
}
